.content {
	width: 100%;
}
.person{
	text-align: center;
	display: inline-block;
	width: 45%;
	border: 1px solid black;
	height: 350px;
	vertical-align: top;
}

.person_name {
	font-weight: bolder;
	font-size: 1.4em;
}

.random_family {
	width: 90%;
	text-align: center;
	font-weight: bolder;
	font-size: 1.2em;
}

.confirm {
	width: 100%;
}
.confirm button{
	width: 150px;
	height: 30px;
	margin-top: 25px;
	margin-left: 40%;
	display: block;
	text-align: center;
	font-weight: bolder;
}
.confirm button.accept{
	background-color: green;
}
.confirm button.reject{
	background-color: red;
}
